
.cheap {
  color: blue;
}
.expensive {
  color: slategrey;
}

.almost-empty {
  color: red;
}

.high-abv {
  color: orange;
}

.low-abv {
  color: lightblue;
}

button, input, label {
  color: black;
}
